@media (max-width: 767.98px) {
    #leftCol, #centerCol {
        border: 0 solid !important;
    }
    #exjobbcheckbox {
        text-align: left;
    }
}


@media (min-width: 768px) {
    #exjobbcheckbox {
        text-align: right;
    }
}

.list-group{
    max-height: 100px;
    overflow-y: auto;
}

.list-group > li.disabled {
    background-color: #e9ecef;
}